<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="de.sUpdater">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:screenOrientation="portrait" android:name="org.yaosupdater.ui.Principal"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.settings.SYSTEM_UPDATE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait" android:name="org.yaosupdater.preferences.Ajustes">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
		<activity android:screenOrientation="portrait" android:name="org.yaosupdater.ui.Sobre">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
		
		<service android:name="org.yaosupdater.services.DownloadService"
                 android:process="org.yaosupdater.services.DownloadService">
            <intent-filter>
                <action android:name="DownloadManager.ACTION_DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </service>
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    
</manifest>